@page
@model Veterinaria.App.Presentacion.Pages.ListaModel
@{
}
<br>
<h1>Listado de Mascotas</h1>
<br>
<br>
<form method="get">
    <div class="form-group">

        <p>
            Mascota: <input type="text" name="filtroBusqueda" />
            <input type="submit" value="Filtrar" class="busqueda"/>
        </p>
</form>
<table class="table">
    <tr>
        <td id="titulos">ID</td>
        <td id="titulos">Nombre</td>
        <td id="titulos">Edad</td>
        <td id="titulos">Tipo_Mascota</td>
        <td id="titulos">Estado_Salud</td>
        <td id="titulos">Codigo</td>
        <td id="titulos">Nombre dueño</td>
        <td id="titulos">Detalles</td>
        <td id="titulos">Editar</td>
        <td id="titulos">Borrar</td>
    </tr>
    <br>
    @foreach (var Mascota in Model.Mascotas)
    {

        <tr>
            <td>@Mascota.id</td>
            <td>@Mascota.Nombre</td>
            <td>@Mascota.Edad</td>
            <td>@Mascota.Tipo_Mascota</td>
            <td>@Mascota.Estado_Salud</td>
            <td>@Mascota.dueño</td>
            <td>@Mascota.Nombre_dueño</td>
            
            
            <td>
            <a class="btn btn-primary table-btn" asp-page="./Details_Mas" asp-route-Mascotaid="@Mascota.id">
            <i class="fas fa-edit fa-lg"></i>
            </a>

            </td>
            
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit_Mas" asp-route-Mascotaid="@Mascota.id">
            <i class="fas fa-address-book fa-lg"></i>
            </a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Delete_M" asp-route-Mascotaid="@Mascota.id">
            <i class="fas fa-trash-alt fa-lg"></i>
            </a>
            
            </td>
            
        </tr>
    }
</table>

<a asp-page="./Edit_Mas" class="btn btn-primary">Adicionar Mascota
<i class="fas fa-user-plus fa-lg"></i> 
            </a> 


