@page
@model Veterinaria.App.Presentacion.Pages.ListasaludModel
@{
}
<br>
<h1>Estados de Salud</h1>
<br>
<form method="get">
    <div class="form-group">

        <p>
            EstadoSalud: <input type="text" name="filtroBusqueda" />
            <input type="submit" value="Filtrar" class="busqueda"/>
        </p>
</form>
<table class="table">
    <tr>
        <td id="titulos">ID</td>
        <td id="titulos">Temper</td>
        <td id="titulos">fre-respi</td>
        <td id="titulos">fre-cardi</td>
        <td id="titulos">animo</td>
        <td id="titulos">recomen</td>
        <td id="titulos">peso</td>
        <td id="titulos">mascota</td>
        <td id="titulos">visita</td>
        <td id="titulos">Detalles</td>
        <td id="titulos">Editar</td>
        <td id="titulos">Eliminar</td>
        
    </tr>
    <br>
    @foreach (var salud in Model.EstadodeSalud)
    {

        <tr>
            <td>@salud.id</td>
            <td>@salud.temperatura</td>
            <td>@salud.Frecu_Respi</td>
            <td>@salud.Frecu_Cardia</td>
            <td>@salud.Estado_Animo</td>
            <td>@salud.recomendacion</td>
            <td>@salud.Peso</td>
            <td>@salud.masco_estadosalud</td>
            <td>@salud.visit</td>
            <br>
            <td>
            <a class="btn btn-primary table-btn" asp-page="./Detalles_salud" asp-route-EstadodeSaludId="@salud.id">
            <i class="fas fa-info-circle fa-lg"></i>
            </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit_salud" asp-route-EstadodeSaludId="@salud.id">
            <i class="fas fa-address-book fa-lg"></i>
            </a>
            
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Delete_salud" asp-route-EstadodeSaludId="@salud.id">
            <i class="fas fa-trash-alt fa-lg"></i>
            </a>
            
            </td>
            
        </tr>
    }
</table>
<a asp-page="./Edit_salud" class="btn btn-primary">Agregar
<i class="fas fa-user-plus fa-lg"></i> 
</a>