@page
@model Veterinaria.App.Presentacion.Pages.ListModel
@{
}
<br>
<h1>Listado de propietarios de mascotas</h1>
<br>
<table class="table">
    <tr>
        <td id="titulos">ID</td>
        <td id="titulos">Nombre</td>
        <td id="titulos">Apellidos</td>
        <td id="titulos">Teléfono</td>
        <td id="titulos">Cédula</td>
        <td id="titulos">Dirección</td>
        <td id="titulos">Correo</td>
    </tr>
    <br>
    @foreach (var Propietario in Model.Propietarios)
    {

        <tr>
            <td>@Propietario.Id</td>
            <td>@Propietario.Nombre</td>
            <td>@Propietario.Apellidos</td>
            <td>@Propietario.Telefono</td>
            <td>@Propietario.Cedula</td>
            <td>@Propietario.Direccion</td>
            <td>@Propietario.Correo</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-propietarioId="@Propietario.Id">
            <i class="fas fa-info-circle fa-lg"></i>
            Detalle Propietario
            </a>
            
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-propietarioId="@Propietario.Id">
            <i class="fas fa-address-book fa-lg"></i>
            Editar
            </a>
            
            </td>
        </tr>
    }
</table>
<a asp-page="./Edit" class="btn btn-primary">Adicionar Propietario</a>